.download{
    width: 1479px;
    height: 76px;
    background-color: rgb(40, 40, 85);
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .dl-righ{
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 20px;
        & .dl-img{
            width: 50px;
            height: 50px;
        }
        & .dl-text{
            color: white;
            font-size: 18px;
        }
    }
   & .dl-left{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    gap: 10px;
    & .dl-left-img{border-radius: 10px;}
    & .dl-left-img-more{
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 10px;
    
    }
   }
}