.popular-brand{
    border: 2px solid gainsboro;
        border-radius: 30px;
    
    width: 1336px;
    height: 224px;
    margin: 0 auto;
    margin-top: 24px;
   
    
    
    & .container-pop-brand{
        
        & .pop-titles{
            margin-top: 24px;
            display: flex;
            gap: 8px;
            align-items: center;
        
            justify-content: center;
            & .pop-title{
                font-size:16px ;
                font-weight: 700;
            }
            & svg{
                width: 20px;
                height: 20px;
                
                
            }
    
        }
        
       
        
        
        .swiper {
            margin-top: 30px;
            width: 100%;
            height: 100%;
            
            
          }
      
          .swiper-slide {
            
            font-size: 18px;
            
            
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          & .swiper-button-next,
          .swiper-button-prev{
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e0e0e2;
            &::after{
              font-size: 16px;
              color: #424750;
            }

          }
    }
   

}

.pop-container{
    width: 142px;
    height: 118px;
    
    padding: 8px 20px;
    border-left: 2px solid gainsboro;
    
}
.pop-img{
    width:110px ;
    height: 110px;
    display: inline-block;
    text-align: center;
    
}
