.reading{
    width: 100%;
    height: 345px;
    margin-top: 16px;
    & .container{
        width: 100%;
        height: 100%;
        
        & .reading-header{
            width: 100%;
            height: 65px;
            
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &.reading-title{
                font-size: 18px;
                font-weight: 500;

            }
            & .reading__readmore{
                display: flex;
                align-items: center;
                justify-content: center;
                & svg{
                    color: rgb(79, 167, 255);
                }
                & .reading-seemore{
                    color: rgb(79, 167, 255);
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
        & .reading-content{
            width: 100%;
            height: 280px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & .reading-box{
                width: 325px;
                height: 100%;
                
                border: 2px solid gainsboro;
                border-radius: 16px;
                & .reading-box-title{
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(94, 90, 90);
                    padding: 0 20px;
                }
                & .reading-img{
                    border-radius: 16px 16px 0 0;
                    width: 100%;
                    height:calc(3 / 4 * 280px)
                
                }
                
            }
        }
    }
}