.sale{
    width:1336px;
    height: 812px;
    margin: 0 auto;
    border: 2px solid gainsboro;
    border-radius: 30px;
    margin-top: 16px;
    
    & .container{
        
        width: 1310px;
        height: 726px;
        & .sale-header{
            display: flex;
            align-items: center;
            justify-content: center;
            & svg{
                
                width: 50px;
                height: 50px;
                padding: 12px;
            }
            & .sale-header-title{
                font-size: 16px;
                font-weight: 800;
            }
        }
        & .sale-content{
            margin-top: 25px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            & .sale-product{
                width:218px ;
                height:242px ;
                &:not(:nth-child(6n)){border-left: 2px solid gainsboro;}
                &:nth-child(13){border-bottom: 2px solid white;}
                &:nth-child(14){border-bottom: 2px solid white;}
                &:nth-child(15){border-bottom: 2px solid white;}
                &:nth-child(16){border-bottom: 2px solid white;}
                &:nth-child(17){border-bottom: 2px solid white;}
                &:nth-child(18){border-bottom: 2px solid white;}
                border-bottom: 2px solid gainsboro;
            
                
                & .sale-img{
                    width: 150px;
                    height: 150px;
                    margin-right: calc(150px / 5);
                    margin-top: 10px;
                }
                & .sale-prices{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 10px;
                    & .sale-percent{
                        font-size: 16px;
                        font-weight: 400;
                        background-color: #d32f2f;
                        border-radius: 20px;
                        padding: 0 10px;
                        color: white;
                    }
                    & .sale-price{
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                & .sale-before-price{
                    margin-right: 150px;
                    padding-top: 20px;
                
                }
            }
        }
    }
}